<div id="colaboradores" class="default-list-page page-layout simple inner-scroll">
    <div class="center" fxFlex>
        <div class="header accent-500 p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon mr-16 navi" [@animate]="{
                    value: '*',
                    params: { delay: '50ms', scale: '0.2' }
                }" [routerLink]="'../../../'">
                        arrow_back
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{
                    value: '*',
                    params: { delay: '100ms', x: '-25px' }
                }">
                        Seleção de Colaboradores
                    </span>
                </div>
            </div>
            <div class="ml-sm-64 mr-sm-128" fxLayout="row" fxLayoutAlign="center center" fxFlex>
                <div class="search-wrapper mt-16 mt-sm-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input #searchInputEl [formControl]="searchInput" placeholder="Pesquise aqui..." />
                    </div>
                </div>
            </div>
            <div fxFlex="10" fxLayoutGap="15">
                <!-- Botão enviar documentos dos colaboradores -->
                <div fxFlex="50">
                    <button class="add-file-button-respo" matTooltip="Enviar documentos para Destra" mat-fab
                        color="accent" (click)="enviarDocumentosParaDestra()" aria-label="Novo" [@animate]="{
                                value: '*',
                                params: { delay: '300ms', scale: '0.2' }
                            }">
                        <mat-icon>unarchive</mat-icon>
                    </button>
                </div>
                <!-- Botão para enviar colaboradores para Destra -->
                <div fxFlex="50">
                    <button class="add-file-button-respo" matTooltip="Enviar colaboradores para Destra" mat-fab
                        color="accent" (click)="enviarParaColaboradorDestra()" aria-label="Novo" [@animate]="{
                                value: '*',
                                params: { delay: '300ms', scale: '0.2' }
                            }">
                        <mat-icon>person_add</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="content" fusePerfectScrollbar>
            <mat-table #table [dataSource]="dataSource" [@animateStagger]="{ value: '50' }">
                <ng-container matColumnDef="check" stickyStart>
                    <mat-header-cell *matHeaderCellDef class="w-100">
                        <mat-checkbox [disabled]="isBusy || isResult" [(ngModel)]="allSelected" [color]="Accent"
                            (change)="toggleAllSelection()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item" class="w-100">
                        <mat-checkbox [(ngModel)]="item.check" [color]="Accent"
                            (click)="toggleSelection(item)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="numCad">
                    <mat-header-cell *matHeaderCellDef class="w-100">NumCad</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="w-100">
                        {{ row.NumCad }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.Nome }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="funcao">
                    <mat-header-cell *matHeaderCellDef>Função</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{ row.FuncaoAtual }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="cracha">
                    <mat-header-cell *matHeaderCellDef>Crachá</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{ row.NumCracha }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="equipe">
                    <mat-header-cell *matHeaderCellDef>Equipe</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.Equipe }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="sincronizadoDestra">
                    <mat-header-cell *matHeaderCellDef>Sincronizado Destra</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.SincronizadoDestra == true ? "Sim" : "Não"}}</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="quantidadeDocumentos">
                    <mat-header-cell *matHeaderCellDef class="w-100">Quantidade Documentos</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="w-100">{{row.CountDocumento}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="statusDestra">
                    <mat-header-cell *matHeaderCellDef>Status Destra</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{getStatusDestra(row.StatusDestra)}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="documento">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let item; let i = index">
                        <div>
                            <button mat-button style="background-color: darkgray; color: white;"
                                (click)="getDocumentosProtheus(item)">
                                Visualizar Documento
                            </button>
                        </div>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let item; columns: displayedColumns" matRipple (click)="toggleSelection(item)"
                    [@animate]="{ value: '*', params: { y: '100%' } }">
                </mat-row>
            </mat-table>
        </div>
    </div>
</div>