<div id="de-paras" class="default-list-page page-layout simple inner-scroll">
    <!-- CENTER -->
    <div class="center" fxFlex>
        <!-- HEADER -->
        <div class="header accent-500 p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon mr-16" [@animate]="{
                            value: '*',
                            params: { delay: '50ms', scale: '0.2' }
                        }">
                        ballot
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{
                            value: '*',
                            params: { delay: '100ms', x: '-25px' }
                        }">
                        Pedido
                    </span>
                </div>
            </div>
            <!-- / APP TITLE -->
            <!-- SEARCH -->
            <div class="ml-sm-64 mr-sm-128" fxLayout="row" fxLayoutAlign="center center" fxFlex>
                <div class="search-wrapper mt-16 mt-sm-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input [formControl]="searchInput" class="input-search" placeholder="Pesquise aqui...">
                    </div>
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD FILE BUTTON -->
            <div class="file-uploader">
                <button
                    mat-fab
                    color="accent"
                    class="add-file-button"
                    [routerLink]="'./novo'"
                    aria-label="Novo"
                    [@animate]="{
                        value: '*',
                        params: { delay: '300ms', scale: '0.2' }
                    }"
                >
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <!-- / ADD FILE BUTTON -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT -->
        <div class="content" fusePerfectScrollbar>
            <mat-table mat-table #table [dataSource]="dataSource" [@animateStagger]="{ value: '50' }">
                <ng-container matColumnDef="credenciadora">
                    <mat-header-cell *matHeaderCellDef>Credenciadora</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{ row.Credenciadora }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="unidade">
                    <mat-header-cell *matHeaderCellDef>Unidade</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.Unidade }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="numPedido">
                    <mat-header-cell *matHeaderCellDef>Número do Pedido</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.NumPedido }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="buttons" stickyEnd>
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let item; let i = nidex">
                        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                            (click)="$event.stopPropagation()">
                            <mat-icon class="secondary-text">more_vert</mat-icon>
                        </button>
                        <mat-menu #moreMenu="matMenu">
                            <button mat-menu-item aria-label="remove" (click)="deleteItem(item.Id,i)">
                                <mat-icon>delete</mat-icon>
                                <span>Deletar</span>
                            </button>
                        </mat-menu>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let item; columns: displayedColumns" (click)="abrir(item)" matRipple
                    [@animate]="{ value: '*', params: { y: '100%' } }">
                </mat-row>
            </mat-table>
        </div>
        <mat-paginator [length]="totalCount" [pageIndex]="page - 1" [pageSize]="pageSize"
            [pageSizeOptions]="[5,10,20,50]" (page)="onPageChange($event)">
        </mat-paginator>
        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->
</div>