


.gap-15 {
    gap: 15px;
}

.grid-cols-12 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

//ANGULAR 14 NÃO FICA COM O HEADER CORRETO, POR ESSE MOTIVO USO O ATRIBUTO APENAS PARA O MODAL
.colaborador-modal-class .mat-dialog-container {
    padding: 0px !important;
    max-width: 100% !important;
    overflow: hidden !important;
}