<div class="overlay-container" *ngIf="isLoading">
    <div class="overlay">
        <div fxLayout="column" fxLayoutAlign="center center"
            style="width: 35%; height: 260px; background-color: white;">
            <div style="width: 200px;">
                <img src="assets/images/logo.png">
            </div>
            <div>
                <mat-spinner [diameter]="40"></mat-spinner>
            </div>
            <div fxLayout="row" fxLayoutAlign="center end">
                <span style="font-size: medium;margin-top: 5px;" fxLayout="row"
                    fxLayoutAlign="center end"><strong>Enviando Documentos...</strong></span>
            </div>
        </div>
    </div>
</div>

<div class="chamada" fxLayout="row" fxLayoutAlign="space-between start">
    <div fxFlex="65" fxLayout="row">
        <div div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span style="margin-right: 2;margin-bottom: 5px;">{{nomeColaborador}}</span>
                <span>
                    <mat-icon style="margin-left: 5px;margin-bottom: 2px;padding-left: 0; padding-bottom: 3;"
                        matTooltip="Relacionar colaborador com atividade" class="docs-obrigatorios"
                        (click)="openAbaAtividadeEspecifica()">update</mat-icon>
                </span>
            </div>
            <span>{{listaNomeColaborador}}</span>
        </div>
    </div>

    <div fxFlex="35" style="color: white;">
        <div *ngIf="StatusDocumentoObrigatoriosModel.length > 0" (click)="openDocsObrigatorio()"
            class="docs-obrigatorios" fxLayout="row" fxLayoutAlign="end center">
            <div class="docs-obrigatorios-icon">
                <mat-icon style="padding-top: 4px;">warning</mat-icon>

            </div>
            <span class="docs-obrigatorios-text">Documentos Obrigatórios</span>
        </div>
    </div>

</div>

<mat-dialog-content class="mat-typography">
    <div *ngIf="visualizarImagem" fxFlex="40">
        <div class="overflow-custom">
            <div class="btnClose">
                <span class="closeImg" (click)="closeModal()">&times;</span>
            </div>
            <div class="wh-full img">
                <img [src]="imageSource" alt="Image Source">
                <form class="w-95-p" fxLayout="row wrap" fxLayoutAlign="space-between">
                    <mat-form-field fxFlex="100" style="margin-left: 20px;" appearance="outline"
                        [style.margin-top]="'10px'">
                        <mat-label>Data de Vencimento</mat-label>
                        <input formControlName="dtVencimento" matInput #inputData [matDatepicker]="dataPicker"
                            [placeholder]="'DD/MM/YYYY'">
                        <mat-datepicker-toggle matSuffix [for]="dataPicker"></mat-datepicker-toggle>
                        <mat-datepicker #dataPicker></mat-datepicker>
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                    </mat-form-field>

                    <mat-form-field style="margin-left: 20px;" fxFlex="100" appearance="outline">
                        <input formControlName="arquivo" type="file" accept="image/png, image/jpeg" matInput>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
    <div fxFlex="100">
        <div class="modal">
            <div style="width: 100%;" class="tipoDocumentoFiltro" fxLayout="row">
                <custom-search-select (selectionChange)="tipoDocumentoSelected($event)" [options]="tipoDocumentos"
                    [multiple]="false"
                    [ngClass]="{ 'tipoDocumentoFiltro': !visualizarImagem, 'tipoDocumentoFiltroExpanded': visualizarImagem }"
                    placeholder="Selecione o Tipo de Documento" label="Tipo de Documento">
                </custom-search-select>
            </div>
            <div class="modal-content">
                <div class="document-grid">

                    <div *ngFor="let doc of documentos, let i = index">
                        <div class="document-btn-envio-destra">
                            <button *ngIf="!doc.DocumentoStatusPendente" (click)="enviarDocsParaDestra(doc,i)" mat-icon-button [ngStyle]="{
                                        'color': (doc.SincronizadoDestra) ? 'green' : 'red'
                                    }">
                                <mat-icon>cloud_upload</mat-icon>
                            </button>
                            <button *ngIf="doc.DocumentoStatusPendente" (click)="enviarDocsParaDestra(doc,i)" mat-icon-button style="color: rgb(255, 196, 0);">
                                <mat-icon>warning</mat-icon>
                            </button>

                        </div>
                        <div class="document-box">
                            <button matTooltip="{{doc.DescArquivo}}" mat-button mat-raised-button
                                (click)="docDetalhes(doc)" [ngClass]="{
                                    'vencidoXVencer': doc.Vencido || doc.Vencer || !doc.RelacionadoDestra,            
                                    'sincronizado-destra': doc.SincronizadoDestra && !doc.DocumentoStatusPendente,
                                    'docStatus-pendente': doc.DocumentoStatusPendente
                                }">
                                {{ doc.DescArquivo }}
                                <h5
                                    *ngIf="!doc.Vencido && !doc.Vencer && doc.DtVencimentoFormatada != '0001-01-01T00:00:00' && !doc.DocumentoStatusPendente">
                                    Vencimento - {{ doc.DtVencimentoFormatada | date:'dd/MM/yyyy' }} <br>
                                    {{doc.DiasVencer}} Dias
                                </h5>
                                <h5 class="btnH4" *ngIf="doc.Vencido">
                                    Vencido - {{ doc.DtVencimentoFormatada | date:'dd/MM/yyyy' }}
                                </h5>
                                <h5 class="btnH4" *ngIf="doc.Vencer && !doc.DocumentoStatusPendente">
                                    A vencer - {{ doc.DtVencimentoFormatada | date:'dd/MM/yyyy' }} <br>
                                    {{doc.DiasVencer}} Dias
                                </h5>
                                <h5 class="btnWarningH4" *ngIf="doc.DocumentoStatusPendente">
                                    {{doc.DocumentoStatus.statusDescricao}} <br>
                                    {{doc.DocumentoStatus.observacoes}}
                                </h5>
                                <h5 class="btnH4"
                                    *ngIf="!doc.RelacionadoDestra && !doc.Vencido && !doc.Vencer && doc.DtVencimentoFormatada == '0001-01-01T00:00:00'">
                                    Documento não relacionado a Destra
                                </h5>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="padding-border">
    <button class="btn-fechar" mat-button mat-dialog-close>Fechar</button>
    <button class="btn-submit" (click)="enviarDocumentosParaDestra()" mat-button>Enviar todos
        documentos</button>
</mat-dialog-actions>