.chamada {
  width: 100%;
  background-color: #00984a;
  height: auto;
  padding: 25px;
}

.myDialog .mat-dialog-container  {
  padding: 0;
  border-radius: 20px;
}

.chamada span {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.padding-border{
  padding:20px!important;
}


.mat-checkbox-checked .mat-checkbox-background {
  background-color: #00984a !important;
}
.textColorRed {
  color: red !important;
}

.my-datatable-shadow {
  box-shadow: none !important;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.document-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 50px;
}

.document-box button {
  width: 175px;
  height: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  padding: 10px;
  box-sizing: border-box;
  h4{
    color: #960202;
    font-weight: bold;
  }
}

.document-btn-envio-destra {
  width: 175px;
  height: 45px;
  text-align: end;
  padding: 10px;
}
.overflow-custom{
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}
.h-full{
  height: 100%;
}
.img{
  background-color: #fff;
  object-fit: cover; /* Garante que a imagem cubra toda a área, sem distorção */
}
.wh-full{
  width: 100% !important;
  height: 100% !important
}

.btn-fechar {
  background-color: firebrick !important;
  color: white !important;
}

.itemClose{
  width: 100%; 
}

.closeImg {
  padding-left: 10px;
  cursor: pointer;
  font-size: 35px;
  color: #960202;
  font-weight: bold;
}

.btnClose{
  display: flex;
  width: 100% !important;
  justify-content: end;
  align-items: center;
  padding: 0 10px;
}


