.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 49, 49, 0.507);
  /* Fundo transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.chamada {
  width: 100%;
  background-color: #00984a;
  height: auto;
  padding: 25px;
  display: flex;
}

.myDialog .mat-dialog-container {
  padding: 0;
  border-radius: 20px;
}

.chamada span {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.padding-border {
  padding: 20px !important;
}


.mat-checkbox-checked .mat-checkbox-background {
  background-color: #00984a !important;
}

.textColorRed {
  color: red !important;
}

.my-datatable-shadow {
  box-shadow: none !important;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mat-form-field-wrapper {
    padding-bottom: 0px !important; 
}

.tipoDocumentoFiltro {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: center !important;
  width: 45%;
  gap: 0px !important;
  padding-top: 5px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  padding-right: 10px !important;
}

.tipoDocumentoFiltroExpanded {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: end !important;
  width: 100%;
  gap: 0px !important;
  padding-top: 10px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  padding-right: 10% !important;
  padding-left: 10% !important;
}

.document-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.document-box button {
  width: 205px;
  height: 95px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: normal;
  /* Permitir quebras de linha */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnH4 {
  color: red;
  font-weight: bold;
  margin: 0;
  /* Remover margens padrão */
}

.btnWarningH4 {
  color:rgb(255, 196, 0);
  font-weight: bold;
  margin: 0;  
}
.vencidoXVencer {
  color: red !important;
  font-weight: bold;
  border: 3px solid red !important;
}

.sincronizado-destra {
  color: green !important;
  font-weight: bold;
  border: 3px solid green !important;
}

.document-btn-envio-destra {
  width: 200px;
  height: 45px;
  text-align: end;
  padding: 10px;
}

.overflow-custom {
  overflow: hidden;
  overflow-y: auto;
}

.h-full {
  height: 100%;
}

.img {
  background-color: #fff;
  object-fit: cover;
  /* Garante que a imagem cubra toda a área, sem distorção */
}

.wh-full {
  width: 100% !important;
  height: 100% !important;
  padding: 10px;
}

.btn-fechar {
  background-color: firebrick !important;
  color: white !important;
}

.btn-submit {
  background-color: #00984a !important;
  color: white !important;
}

.itemClose {
  width: 100%;
}

.closeImg {
  padding-left: 10px;
  cursor: pointer;
  font-size: 35px;
  color: #960202;
  font-weight: bold;
}

.btnClose {
  display: flex;
  width: 100% !important;
  padding: 10px !important;
  justify-content: end;
  align-items: center;
  padding: 0 10px;
}

.dflex {
  display: flex;
}

.docs-obrigatorios {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px 5px;
}

.docs-obrigatorios-icon {
  margin-right: 8px;
}

.docs-obrigatorios-text {
  font-weight: bold;
}

.vencido {
  color: red;
  font-weight: bold;
  border: 1px solid red;
}

.a-vencer {
  color: red;
  font-weight: bold;
  border: 1px solid red;
}

.sincronizado-destra {
  color: green;
  font-weight: bold;
  border: 1px solid green;
}

.docStatus-pendente {
  color: rgb(255, 196, 0) !important;
  font-weight: bold;
  border: 3px solid rgb(255, 196, 0)!important;
}