<div id="documento" class="default-form-page page-layout simple inner-scroll">
    <!-- CENTER -->
    <div class="center" fxFlex>
        <!-- HEADER -->
        <div class="header accent-500 p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon mr-16 navi" [@animate]="{
                            value: '*',
                            params: { delay: '50ms', scale: '0.2' }
                        }" [routerLink]="'../'">
                        arrow_back
                    </mat-icon>
                    <span class="logo-text h1 navi" [@animate]="{
                            value: '*',
                            params: { delay: '100ms', x: '-25px' }
                        }" [routerLink]="'../'">
                        Documento
                    </span>
                    <mat-icon class="separator">chevron_right</mat-icon>
                    <span class="logo-text h1" [@animate]="{
                            value: '*',
                            params: { delay: '200ms', x: '-25px' }
                        }" *ngIf="pageType === 'new'">
                        Novo
                    </span>
                    <span class="logo-text h1" [@animate]="{
                            value: '*',
                            params: { delay: '200ms', x: '-25px' }
                        }" *ngIf="pageType === 'edit'">
                        {{ form?.controls.credenciadora.value }}
                    </span>
                </div>
            </div>
            <!-- / APP TITLE -->
            <div>
                <button mat-raised-button class="reference-button mat-white-bg mt-16 mt-sm-0"
                    [disabled]="form.invalid || blockRequisicao" (click)="addOrUpdate()">
                    <mat-icon class="mr-8">save</mat-icon>
                    <span>Salvar</span>
                </button>
            </div>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT -->
        <div class="content">
            <mat-tab-group dynamicHeight="true">
                <mat-tab label="Dados">
                    <div class="tab-content" fusePerfectScrollbar fxLayout="row wrap" fxLayoutAlign="space-between">
                        <Form [formGroup]="form" class="w-100-p" fxLayout="row wrap" fxLayoutAlign="space-between">
                            <mat-form-field fxFlex="100" appearance="outline">
                                <mat-label>Documento</mat-label>
                                <input matInput name="Descricao" formControlName="Descricao"  placeholder="Documento" />
                                <mat-hint class="text-red-500" *ngIf="myError('Descricao', 'required', form)">
                                    Campo <strong>Obrigatorio</strong>
                                </mat-hint>
                            </mat-form-field>

                            <custom-search-select (selectionChange)="credenciadoraIsSelected($event)" [options]="credenciadoras" [multiple]="false" [required]="true"
                                fxFlex="100" formControlName="IdCredenciadora" placeholder="Selecione a Credenciadora"
                                label="Credenciadora">
                            </custom-search-select>

                            <custom-search-select [disabled]="isDisable" [options]="documentosdestra" [multiple]="false" [required]="true"
                                fxFlex="100" formControlName="IdDocCredenciadora" placeholder="Selecione o Documento"
                                label="Documento Credenciadora">
                            </custom-search-select>

                            <custom-search-select [options]="documentosprotheus" [multiple]="false" [required]="true"
                                fxFlex="100" formControlName="IdProtheus" placeholder="Selecione o Documento"
                                label="Documento Protheus">
                            </custom-search-select>

                            <div fxLayout="row" fxLayoutAlign="start center">
                                <label style="padding-top: 1px;">Documento é obrigatório?</label>
                                <mat-radio-group (change)="isObrigatorioChanged($event)" style="padding-bottom: 0px;"
                                    aria-labelledby="radioLabel">
                                    <mat-radio-button style="margin-left: 4px;" [checked]="isObrigatorio"
                                        [value]="true">Sim</mat-radio-button>
                                    <mat-radio-button style="margin-left: 3px;" [checked]="!isObrigatorio"
                                        [value]="false">Não</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </Form>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>

        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->
</div>