.chamada {
    width: 100%;
    background-color: #00984a;
    height: auto;
    padding: 25px;
}

.mat-dialog-container {
    padding: 0;
}

.chamada span {
    color: white;
    font-size: 20px;
    font-weight: bold;
}


.mat-checkbox-checked .mat-checkbox-background {
    background-color: #00984a !important;
}

.btn-success {
    background-color: rgb(22, 163, 74);
    color: white;
}

.btn-danger {
    background-color: rgb(157, 27, 27);
    color: white;
}

/* Aplica estilo ao contêiner que envolve o ícone para usar flexbox */
.icon-container {
    display: flex;
    justify-content: center;
    /* Alinha horizontalmente ao centro */
    align-items: center;
    /* Alinha verticalmente ao centro */
    background-color: bisque;
    padding: 15px;
    border-radius: 40px;
}

/* Se você quiser que o ícone esteja centralizado em toda a caixa de diálogo,
   aplique esses estilos diretamente ao contêiner da caixa de diálogo. */
.dialog-container {
    display: flex;
    flex-direction: column;
    /* Para garantir que os itens sejam alinhados verticalmente */
    justify-content: center;
    align-items: center;
}

/* Estilização do ícone */
.text-current {
    color: #f44336;
    width: 50px;
    height: 50px;
    font-size: 50px;
}

.btnConfirm {
    margin-right: 5px;
    margin-left: 10px;
}

.btnCancel {
    background-color: lightsteelblue !important;
}


.custom-list {
    text-align: left;
}


.tableList{
    border: 2px solid #ddd;
    padding: 24px;
    text-align:center;
}

table{
    width:100%; 
    border-collapse: separate;
    padding-top: 15px;
}

.break-word {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

mat-dialog-container {
    padding: 0px !important;
    max-width: 100% !important;
    overflow: hidden !important;
}