.chamada {
  width: 100%;
  background-color: #00984a;
  height: auto;
  padding: 25px;
}

.myDialog .mat-dialog-container  {
  padding: 0;
  border-radius: 20px;
}

.chamada span {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.mat-checkbox-checked .mat-checkbox-background {
  background-color: #00984a !important;
}
.padding-border{
  padding:20px!important;
}
.textColorRed {
  color: red !important;
}

.my-datatable-shadow {
  box-shadow: none !important;
}

.grid-cols-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-span-1 { grid-column: span 1; }
.col-span-2 { grid-column: span 2; }
.col-span-3 { grid-column: span 3; }
.col-span-4 { grid-column: span 4; }
.col-span-5 { grid-column: span 5; }
.col-span-6 { grid-column: span 6; }
.col-span-7 { grid-column: span 7; }
.col-span-8 { grid-column: span 8; }
.col-span-9 { grid-column: span 9; }
.col-span-10 { grid-column: span 10; }
.col-span-11 { grid-column: span 11; }
.col-span-12 { grid-column: span 12; }

.gap-15{
  gap: 15px;
}
.w-full{
  width: 100% !important;
}