<div class="chamada">
    <span>Colaborador x Atividades</span>
</div>

<mat-dialog-content class="mat-typography">
    <div class="padding-border">
        <Form class="grid-cols-12 gap-15">

            <custom-search-select [options]="colaboradoresOptions" [multiple]="true" [required]="true"
                formControlName="atividades" placeholder="Selecione os Colaboradores" label="Colaboradores" class="col-span-6">
            </custom-search-select>


            <custom-search-select [options]="atividadesOptions" [multiple]="true" formControlName="atividades" [required]="true"
                placeholder="Selecione as atividades" label="Atividades Específicas" class="col-span-6">
            </custom-search-select>
            <!-- <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="30px">
        
            </div> -->
        </Form>
    </div>
</mat-dialog-content>

<!-- component -->

<div class="padding-border">
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close style="background-color: rgb(157, 27, 27); color: white">Cancelar</button>
        <button [disabled]="form.invalid || blockRequisicao" type="submit" (click)="addOrUpdate()" mat-raised-button
            style="background-color: rgb(22, 163, 75); color: white">Salvar</button>
    </mat-dialog-actions>
</div>