.icon-warn{
    color: coral;
    font-size: 60px;
    width: 60px;
    height: 60px;
}
.icon-success{
    color: #00984a;
    font-size: 60px;
    width: 60px;
    height: 60px;
}
.icon-danger{
    color: rgb(172, 7, 7);
    font-size: 60px;
    width: 60px;
    height: 60px;
}

.font-title{
    font-size: xx-large;
    font-weight: bold;
}

.div-principal{
    padding: 30px;
    max-height: 35vh;
    max-width: 35vw;
    text-align: center;
}